label {
    font-weight:700;
    color:#000;
    display: block;
    width: 100%;
}

.newpostOuter input,.newpostOuter textarea,.newpostOuter select {
    width: 400px;
    margin: 0 auto 15px;
    display: block;
}
