.porfolios {
    position: relative;
    hgroup{
        font-weight: 700;
        font-size:22px;
        clear: both;
    }
    ul {
        list-style: none;
        li {
            cursor: pointer;
            &.active {
                .card{
                    box-shadow: 0px 6px 8px #6e6f71;
                }
            }
            h4 {
                text-transform: uppercase;
                font-weight: 300;
            }
        }
    }
}